
<div class="pi-section-w pi-section-base pi-section-parallax" style="background-image: url(/_themes/breaking_barriers/img/img_external/gallery/boat.jpg);">
  <div class="pi-texture" style="background: rgba(24, 28, 32, 0.8);"></div>
  <div class="pi-section pi-padding-top-100 pi-padding-bottom-80 pi-text-center">

    <p>
      <i class="icon-paper-plane pi-icon-circle pi-icon-base pi-icon-big" style="width: 74px; height: 74px; line-height: 74px;"></i>
    </p>
    
    <h2 class="h1 pi-text-shadow pi-has-border pi-has-tall-border pi-has-base-border pi-has-short-border" style="font-size: 60px;">
      Feel Free. <span class="pi-text-base">Say Hey!</span>
    </h2>
    
    <p class="lead-18 pi-weight-300 pi-margin-bottom-30 pi-p-half">
      Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod
    </p>
    
  </div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->
<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<!-- Breadcrumbs -->
<div class="pi-section-w pi-border-bottom pi-section-grey">
  <div class="pi-section pi-titlebar pi-breadcrumb-only">
    <div class="pi-breadcrumb">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Company</a></li>
        <li>Contact Us</li>
      </ul>
    </div>
  </div>
</div>
<!-- End breadcrumbs -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white piICheck piStylishSelect piSocials">
  <div class="pi-section">

    <div class="pi-row">
      <div class="pi-col-sm-8">
        <h2 class="h4 pi-has-bg pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-30">
          Get In Touch
        </h2>

        <!-- Contact form -->
        <form role="form" action="handlers/formContact.php" class="pi-contact-form">
          <div class="pi-error-container"></div>
          <div class="pi-row pi-grid-small-margins">
            <div class="pi-col-sm-6">
              <div class="form-group pi-padding-bottom-10">
                <label for="exampleInputName1">Name *</label>
                <input type="text" class="form-control form-control-name" id="exampleInputName1"
                     placeholder="e.g. Adam Smith">
              </div>
              <div class="form-group pi-padding-bottom-10">
                <label for="exampleInputEmail1">Email address *</label>
                <input type="email" class="form-control form-control-email" id="exampleInputEmail1"
                     placeholder="e.g. mail@example.com">
              </div>
            </div>
            <div class="pi-col-sm-6">
              <div class="form-group pi-padding-bottom-10">
                <label for="exampleInputCompany">Company Name</label>
                <input type="text" class="form-control form-control-company-name" id="exampleInputCompany"
                     placeholder="e.g. PI Studio">
              </div>
              <div class="form-group pi-padding-bottom-10">
                <label for="exampleInputPhone">Phone</label>
                <input type="text" class="form-control form-control-phone" id="exampleInputPhone"
                     placeholder="e.g. +11111111">
              </div>
            </div>
          </div>
          <div class="form-group pi-padding-bottom-10">
            <label for="exampleInputSelect">Your Budget</label>
            <select class="form-control form-control-budjet" id="exampleInputSelect">
              <option>$1000</option>
              <option>$1500</option>
              <option>$3000</option>
              <option>$5000</option>
              <option>$10000</option>
            </select>
          </div>
          <div class="form-group pi-padding-bottom-10">
            <label for="exampleInputMessage1">Message *</label>
            <textarea class="form-control form-control-comments" id="exampleInputMessage1" placeholder="How can we help?" rows="3"></textarea>
          </div>
          <div  class="form-group pi-padding-bottom-10">
            <div class="g-recaptcha" data-sitekey="6LcQ-_USAAAAACuWYZck-TkqvxpqeptnCgasjQlJ"></div>
            <script type="text/javascript"
                src="https://www.google.com/recaptcha/api.js?hl=en">
            </script>
          </div>
          <p>
            <button class="btn pi-btn-base">
              Send Message<i class="icon-paper-plane pi-icon-right"></i>
            </button>
          </p>
        </form>
        <!-- End contact form -->

      </div>
      <div class="pi-col-sm-4">

        <h2 class="h4 pi-has-bg pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-30">
          Contact Us
        </h2>
        
        <ul class="pi-list-with-icons pi-list-big-margins pi-padding-bottom-10">
          <li><span class="pi-bullet-icon"><i class="icon-location"></i></span>557 Cyan Avenue, Suite 65, <br>New York, CA 9008<br>
          <a href="#">Get Directions</a></li>
          
          <li><span class="pi-bullet-icon"><i class="icon-mail"></i></span><a href="#">example@mail.com</a><br><a href="#">hello@mail.com</a></li>
          
          <li><span class="pi-bullet-icon"><i class="icon-phone"></i></span>+1 (330) <strong>993-443</strong>, <br>
          +1 (330) <strong>995-445</strong></li>
          
          <li><span class="pi-bullet-icon"><i class="icon-clock"></i></span>Monday - Friday: <strong>9:00 am - 10:00 pm</strong>
          <br>
          Saturday - Sunday: <strong>Closed</strong></li>
        </ul>
        <ul class="pi-social-icons pi-small pi-jump pi-colored-bg pi-round pi-padding-bottom-10">
          <li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
          <li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
          <li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
          <li><a href="#" class="pi-social-icon-rss"><i class="icon-rss"></i></a></li>
        </ul>

      </div>
    </div>

  </div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->
<div class="pi-section-w pi-section-white">
  <div class="pi-google-map pi-google-map-wide googleMap"
     data-map-type="roadmap"
     data-map-zoom="14"
     data-map-style="base"
     data-map-marker="/_themes/breaking_barriers/img/marker-base.png"
     data-map-marker-size="67,81"
     data-map-marker-anchor="30,81"
     data-map-coords="40.70502;-74.006344"
     data-map-address="Vancouver"
     data-map-address2="Toronto">
  </div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->
</div>