
<div class="pi-section-w pi-section-base pi-section-parallax" style="background-image: url({{tagline_background}});">
  <div class="pi-texture" style="background: rgba(24, 28, 32, 0.8);"></div>
  <div class="pi-section pi-padding-top-100 pi-padding-bottom-80 pi-text-center">

    <p>
      <i class="icon-paper-plane pi-icon-circle pi-icon-base pi-icon-big" style="width: 74px; height: 74px; line-height: 74px;"></i>
    </p>
    {{tagline}}
    <h2 class="h1 pi-text-shadow pi-has-border pi-has-tall-border pi-has-base-border pi-has-short-border" style="font-size: 60px;">
      {{start}} <span class="pi-text-base">{{featured}}</span>
    </h2>
    
    <p class="lead-18 pi-weight-300 pi-margin-bottom-30 pi-p-half">
      {{subTitle}}
    </p>
    {{/tagline}}
  </div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->
{{ theme:partial src="site/_breadcrumbs" }}

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white piICheck piStylishSelect piSocials">
  <div class="pi-section">

    <div class="pi-row">
      <div class="pi-col-sm-8">
        <h2 class="h4 pi-has-bg pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-30">
          Get In Touch
        </h2>

        <!-- Contact form -->
        <form role="form" action="handlers/formContact.php" class="pi-contact-form">
          <div class="pi-error-container"></div>
          <div class="pi-row pi-grid-small-margins">
            <div class="pi-col-sm-6">
              <div class="form-group pi-padding-bottom-10">
                <label for="exampleInputName1">Name *</label>
                <div class="pi-input-with-icon">
                  <div class="pi-input-icon"><i class="icon-user"></i></div>
                  <input type="text" class="form-control" id="exampleInputName-4" placeholder="e.g. Adam Smith">
                </div>
              </div>
              <div class="form-group pi-padding-bottom-10">
                <label for="exampleInputEmail1">Email address *</label>
                <div class="pi-input-with-icon">
                  <div class="pi-input-icon"><i class="icon-mail"></i></div>
                  <input type="email" class="form-control" id="exampleInputEmail-4" placeholder="e.g. mail@example.com">
                </div>
              </div>
            </div>
            <div class="pi-col-sm-6">
              <div class="form-group pi-padding-bottom-10">
                <label for="exampleInputCompany">Company Name</label>
                <div class="pi-input-with-icon">
                  <div class="pi-input-icon"><i class="icon-users"></i></div>
                  <input type="text" class="form-control" id="exampleInputCompanyname-4" placeholder="e.g. Breaking Barriers">
                </div>
              </div>
              <div class="form-group pi-padding-bottom-10">
                <label for="exampleInputPhone">Phone</label>
                <div class="pi-input-with-icon">
                  <div class="pi-input-icon"><i class="icon-phone"></i></div>
                  <input type="text" class="form-control" id="exampleInputPhone-4" placeholder="e.g. 0123456789">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group pi-padding-bottom-10">
            <label for="exampleInputMessage1">Message *</label>
            <div class="pi-input-with-icon">
              <div class="pi-input-icon"><i class="icon-pencil"></i></div>
              <textarea class="form-control" id="exampleInputMessage-4" placeholder="How can we help?" rows="4"></textarea>
            </div>
          </div>
          <div  class="form-group pi-padding-bottom-10">
            <div class="g-recaptcha" data-sitekey="6LcQ-_USAAAAACuWYZck-TkqvxpqeptnCgasjQlJ"></div>
            <script type="text/javascript"
                src="https://www.google.com/recaptcha/api.js?hl=en">
            </script>
          </div>
          <p>
            <button class="btn pi-btn-base">
              Send Message<i class="icon-paper-plane pi-icon-right"></i>
            </button>
          </p>
        </form>
        <!-- End contact form -->

      </div>
      <div class="pi-col-sm-4">

        <h2 class="h4 pi-has-bg pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-30">
          Contact Us
        </h2>
        
        <ul class="pi-list-with-icons pi-list-big-margins pi-padding-bottom-10">
          {{address}}
          <li><span class="pi-bullet-icon"><i class="icon-location"></i></span>{{first_line}}<br>{{second_line}}, {{postcode}}<br>
          {{/address}}
          
          <li><span class="pi-bullet-icon"><i class="icon-mail"></i></span>
          {{emails}}
            <a href="mailto: {{email_address}}">{{email_address}}</a>
            <br>
          {{/emails}}
          </li>
          

          <li><span class="pi-bullet-icon"><i class="icon-phone"></i></span>
          {{numbers}}
            {{number}}{{if !last }},{{endif}}
            <br>
          {{/numbers}}
          </li>

        </ul>
        <ul class="pi-social-icons pi-small pi-jump pi-colored-bg pi-round pi-padding-bottom-10">
          {{if li}}<li><a target="_blank" href="{{li}}" class="pi-social-icon-linkedin"><i class="icon-linkedin"></i></a></li>{{endif}}
          {{if fb}}<li><a target="_blank" href="{{fb}}" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>{{endif}}
          {{if tw}}<li><a target="_blank" href="{{tw}}" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>{{endif}}
        </ul>

      </div>
    </div>

  </div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white">
  <div class="pi-google-map pi-google-map-wide googleMap"
     data-map-type="roadmap"
     data-map-zoom="14"
     data-map-style="base"
     {{address}}
     data-map-address2="{{postcode}}">
     {{/address}}
  </div>
</div>


<!-- - - - - - - - - - END SECTION - - - - - - - - - -->
</div>