<div class="tp-banner-container">
	<div class="tp-banner pi-revolution-slider" >
		<ul class="">	
		{{slideshow_slides}}
			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" >
				<!-- MAIN IMAGE -->
				<img src="{{main_image}}"  alt=""  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
				<!-- LAYERS -->
				{{layer}}
				<!-- LAYER NR. 1 -->
				{{if layer_image}}
				<div class="tp-caption sfr fadeout"
					 data-x="{{offset_hor}}"
					 data-y="{{offset_vert}}"
					 data-speed="{{speed}}"
					 data-start="{{start_offset}}"
					 data-easing="Power4.easeOut"
					 data-endspeed="300"
					 data-endeasing="Back.easeInOut"
					 data-captionhidden="on"
					 style="z-index: {{offset_depth}}"><img src="{{layer_image}}" alt="">
				</div>
				{{ elseif link }}
				<div class="tp-caption sfb str"
					 data-x="{{offset_hor}}" data-hoffset="0"
					 data-y="{{offset_vert}}"
					 data-speed="{{speed}}"
					 data-start="{{start_offset}}"
					 data-easing="Back.easeInOut"
					 data-endspeed="300"
					 style="z-index: {{offset_depth}};">
					 <a href="about-about-1.html" class="btn pi-btn-base pi-btn-big">
						<i class="{{link_icon}} pi-icon-left"></i>{{text_content}}
					</a>
				</div>
				{{ else }}
				<!-- LAYER NR. 2 -->
				<div class="tp-caption sft str"
					 data-x="{{offset_hor}}" data-hoffset="0"
					 data-y="{{offset_vert}}"
					 data-speed="{{speed}}"
					 data-start="{{start_offset}}"
					 data-easing="Back.easeInOut"
					 data-endspeed="300"
					 style="z-index: {{offset_depth}}; {{if large_text }}font-size: 34px; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);{{else}}font-size: 20px; font-weight: 300; line-height: 28px; 
					 padding: 12px 16px; border-radius: 3px;{{endif}} color: {{if text_background == '#21252b'}}#fff{{else}}#21252b{{endif}}; background: {{text_background}}; ">
					 {{text_content}}
				</div>
				{{ endif }}

				
				{{/layer}}
			</li>	
		{{/slideshow_slides}}
		</ul>

	</div>
</div>

<span class="revolution-slider"></span>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-shadow-inside pi-section-dark">
	<div class="pi-texture" style="background: url(/_themes/breaking_barriers/img/hexagon.png) repeat;"></div>
	<div class="pi-section">
		
		<!-- Row -->
		<div class="pi-row">
			{{focus}}
			<!-- Col 4 -->
			<div class="pi-col-sm-4">
			
				<div class="pi-icon-box pi-icon-box-hover">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-base">
						<i class="{{focus_icon}}"></i>
					</div>
					
					<div class="pi-icon-box-content">
					
						<h4>{{focus_title}}</h4>

						<p>
							{{focus_body}}
						</p>
						
					</div>
				</div>
				
			</div>
			<!-- End col 4 -->
			{{/focus}}

			
		</div>
		<!-- End row -->

	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white piCaptions">
	<div class="pi-section pi-padding-bottom-20">
		
		<!-- <h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
			Recent projects
		</h4>
		
	
		<div class="pi-row pi-liquid-col-xs-2 pi-liquid-col-sm-3 pi-gallery pi-text-center pi-padding-bottom-30 pi-column-fix">
			

			<div class="pi-gallery-item pi-padding-bottom-20">
				<div class="pi-img-w pi-img-shadow pi-img-with-overlay pi-no-margin-bottom">
					<a href="#"><img src="/_themes/breaking_barriers/img/img_external/gallery/sensuality-at-the-sea.jpg" alt=""></a>
					<div class="pi-img-overlay pi-overlay-slide pi-show-heading">
						<h6 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-top-minus-5 pi-text-shadow">
							<a href="#" class="pi-link-white">Sensuality at the sea</a>
						</h6>
						
						<p class="pi-margin-top-minus-5 pi-margin-bottom-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>

						<ul class="pi-caption-links pi-margin-bottom-20">
							<li><i class="icon-tag"></i><a href="#">Beautiful</a>, <a href="#">Morning</a></li>
						</ul>
						
						<a href="#" class="btn pi-btn-small pi-btn-base pi-btn-no-border pi-shadow pi-uppercase pi-weight-600 pi-letter-spacing">View project</a>
					</div>
				</div>
				<div class="pi-img-shadow-gap pi-shadow-effect8"></div>
			</div>

			
		
			<div class="pi-gallery-item pi-padding-bottom-20">
				<div class="pi-img-w pi-img-shadow pi-img-with-overlay pi-no-margin-bottom">
					<a href="#"><img src="/_themes/breaking_barriers/img/img_external/gallery/selecting-pencil.jpg" alt=""></a>
					<div class="pi-img-overlay pi-overlay-slide pi-show-heading">
						<h6 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-top-minus-5 pi-text-shadow">
							<a href="#" class="pi-link-white">Selecting pencil</a>
						</h6>
						
						<p class="pi-margin-top-minus-5 pi-margin-bottom-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>

						<ul class="pi-caption-links pi-margin-bottom-20">
							<li><i class="icon-tag"></i><a href="#">Lifestyle</a>, <a href="#">Creation</a></li>
						</ul>
						
						<a href="#" class="btn pi-btn-small pi-btn-base pi-btn-no-border pi-shadow pi-uppercase pi-weight-600 pi-letter-spacing">View project</a>
					</div>
				</div>
				<div class="pi-img-shadow-gap pi-shadow-effect8"></div>
			</div>
			
			
			
			<div class="pi-gallery-item pi-padding-bottom-20">
				<div class="pi-img-w pi-img-shadow pi-img-with-overlay pi-no-margin-bottom">
					<a href="#"><img src="/_themes/breaking_barriers/img/img_external/gallery/mobile-business.jpg" alt=""></a>
					<div class="pi-img-overlay pi-overlay-slide pi-show-heading">
						<h6 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-top-minus-5 pi-text-shadow">
							<a href="#" class="pi-link-white">Mobile business</a>
						</h6>
						
						<p class="pi-margin-top-minus-5 pi-margin-bottom-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>

						<ul class="pi-caption-links pi-margin-bottom-20">
							<li><i class="icon-tag"></i><a href="#">Technology</a>, <a href="#">Business</a></li>
						</ul>
						
						<a href="#" class="btn pi-btn-small pi-btn-base pi-btn-no-border pi-shadow pi-uppercase pi-weight-600 pi-letter-spacing">View project</a>
					</div>
				</div>
				<div class="pi-img-shadow-gap pi-shadow-effect8"></div>
			</div>

			
		</div> -->
		<!-- End portfolio gallery -->
		
		<!-- Row -->
		<div class="pi-row">
			
			<!-- Col 4 -->
			<div class="pi-col-sm-4 pi-padding-bottom-30">
				{{get_content from="about"}}
				<h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-25">
					<a href="#" class="pi-link-dark">{{title}}</a>
				</h4>
				
				<p>
					{{content}}
				</p>
				
				<ul class="pi-list-with-icons pi-list-icons-ok">
				{{skills}}
					<li>{{skill_title}}</li>
				{{/skills}}

				</ul>
				
				<p>
					<a href="#" class="btn pi-btn-base">
						Read more
					</a>
				</p>
				{{/get_content}}
				
			</div>
			<!-- End col 4 -->
			
			<!-- Col 4 -->
			
			<div class="postItemWrap pi-col-sm-8 pi-padding-bottom-30">
				
				<h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
					<a href="#" class="pi-link-dark">Blog</a>
				</h4>
				{{entries:listing folder="blog" sort_dir="desc" limit="2"}}
				<div class="postItem">
					<!-- Post item -->
					<div class="pi-img-w pi-img-round-corners pi-img-left pi-img-shadow" style="width: 150px;">
						<a href="{{url}}">
						<img src="{{ transform src="{{thumbnail}}" width="150" height="150" action="smart"}}" alt="">
						<span class="pi-img-overlay pi-img-overlay-white">
						</span>
						</a>
					</div>
					
					<h2 class="h6 pi-margin-top-minus-5 pi-margin-bottom-5">
						<a href="#" class="pi-link-dark">{{title}}</a>
					</h2>
					<ul class="pi-meta pi-margin-bottom-10">
						<li><i class="icon-user"></i>by {{ author|title }}</li>
						<li><i class="icon-clock"></i>{{date}}</li>
					</ul>
					<p>
						{{letter}}{{content|truncate:200|striptags}}<a href="#" class="pi-italic">Read more</a>
					</p>
				</div>
				{{ /entries:listing }}
				
			</div>
			
			<!-- End col 4 -->
			


			
		</div>
		<!-- End row -->
		
	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->
<div class="pi-section-w pi-shadow-inside-top pi-section-parallax" style="background-image: url(/_themes/breaking_barriers/img/img_external/gallery/consulting.jpg);">
	<div class="pi-texture" style="background: rgba(31, 37, 44, 0.8);"></div>
	<div class="pi-section pi-padding-top-100 pi-padding-bottom-80 pi-text-center">
		
		<h3 class="pi-uppercase pi-weight-700 pi-letter-spacing">
			Want to work with us?
		</h3>
		
		<p class="pi-margin-bottom-30">
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>accusantium doloremque laudantium
		</p>
		
		<p>
			<a href="contact-contact-1-fancy-header.html" class="btn pi-btn-contur-3 pi-btn-big">
				Get in Touch
			</a>
			
			<span class="pi-or">or</span>
			
			<a href="contact-contact-1-fancy-header.html" class="btn pi-btn-base pi-btn-no-border pi-shadow pi-btn-big">
				Get a Free Quote
			</a>
		</p>

	</div>
</div>



