<div class="tp-banner-container">
	<div class="tp-banner pi-revolution-slider" >
		<ul class="">	

			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" >
				<!-- MAIN IMAGE -->
				<img src="/_themes/breaking_barriers/img/img_external/revolution-slider/back-13.jpg"  alt=""  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<div class="tp-caption sfr fadeout"
					 data-x="620"
					 data-y="0"
					 data-speed="1100"
					 data-start="1200"
					 data-easing="Power4.easeOut"
					 data-endspeed="300"
					 data-endeasing="Power1.easeIn"
					 data-captionhidden="on"
					 style="z-index: 3"><img src="/_themes/breaking_barriers/img/img_external/revolution-slider/businessman-2.png" alt="">
				</div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption sft str"
					 data-x="45" data-hoffset="0"
					 data-y="157"
					 data-speed="500"
					 data-start="2400"
					 data-easing="Back.easeInOut"
					 data-endspeed="300"
					 style="z-index: 4; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
					 Soluta Nobis Eligendi
				</div>

				<!-- LAYER NR. 3 -->
				<div class="tp-caption sfl str"
					 data-x="45" data-hoffset="0"
					 data-y="236"
					 data-speed="500"
					 data-start="2600"
					 data-easing="Back.easeInOut"
					 data-endspeed="300"
					 style="z-index: 5; font-size: 20px; color: #fff; font-weight: 300; line-height: 28px; background: rgba(33, 37, 43, 0.8); padding: 12px 16px; border-radius: 3px;">
					 Nam libero Tempore Cum Soluta Nobis est
				</div>

				<!-- LAYER NR. 4 -->
				<div class="tp-caption sfb str"
					 data-x="45" data-hoffset="0"
					 data-y="303"
					 data-speed="500"
					 data-start="2800"
					 data-easing="Back.easeInOut"
					 data-endspeed="300"
					 style="z-index: 6;">
					 <a href="about-about-1.html" class="btn pi-btn-base pi-btn-big">
						<i class="icon-users pi-icon-left"></i>About us
					</a>
				</div>
			</li>	

			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" >
				<!-- MAIN IMAGE -->
				<img src="/_themes/breaking_barriers/img/img_external/revolution-slider/back-9.jpg"  alt=""  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<div class="tp-caption sfb fadeout"
					 data-x="595"
					 data-y="300"
					 data-speed="1100"
					 data-start="1500"
					 data-easing="Power4.easeOut"
					 data-endspeed="300"
					 data-endeasing="Power1.easeIn"
					 data-captionhidden="on"
					 style="z-index: 3"><img src="/_themes/breaking_barriers/img/img_external/revolution-slider/stone-1.png" alt="">
				</div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption fade fadeout"
					 data-x="856"
					 data-y="308"
					 data-speed="400"
					 data-start="2200"
					 data-easing="Power4.easeOut"
					 data-endspeed="300"
					 data-endeasing="Power1.easeIn"
					 data-captionhidden="on"
					 style="z-index: 4"><img src="/_themes/breaking_barriers/img/img_external/revolution-slider/shadow-1.png" alt="">
				</div>


				<!-- LAYER NR. 3 -->
				<div class="tp-caption sft fadeout"
					 data-x="690"
					 data-y="70"
					 data-speed="800"
					 data-start="2500"
					 data-easing="Power4.easeOut"
					 data-endspeed="300"
					 data-endeasing="Power1.easeIn"
					 data-captionhidden="on"
					 style="z-index: 5"><img src="/_themes/breaking_barriers/img/img_external/revolution-slider/men-flag.png" alt="">
				</div>

				<!-- LAYER NR. 4 -->
				<div class="tp-caption sft str"
					 data-x="45" data-hoffset="0"
					 data-y="157"
					 data-speed="500"
					 data-start="2400"
					 data-easing="Back.easeInOut"
					 data-endspeed="300"
					 style="z-index: 6; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
					 Modi Tempora Incidunt
				</div>

				<!-- LAYER NR. 5 -->
				<div class="tp-caption sfl str"
					 data-x="45" data-hoffset="0"
					 data-y="236"
					 data-speed="500"
					 data-start="2600"
					 data-easing="Back.easeInOut"
					 data-endspeed="300"
					 style="z-index: 7; font-size: 20px; color: #fff; font-weight: 300; line-height: 28px; background: rgba(33, 37, 43, 0.8); padding: 12px 16px; border-radius: 3px;">
					 Dolore Magnam Aliquam Quaerat Voluptatem
				</div>

				<!-- LAYER NR. 6 -->
				<div class="tp-caption sfb str"
					 data-x="45" data-hoffset="0"
					 data-y="303"
					 data-speed="500"
					 data-start="2800"
					 data-easing="Back.easeInOut"
					 data-endspeed="300"
					 style="z-index: 8;">
					 <a href="services-services-1.html" class="btn pi-btn-base pi-btn-big">
						<i class="icon-cog pi-icon-left"></i>Our services
					</a>
				</div>
			</li>		

			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" >
				<!-- MAIN IMAGE -->
				<img src="/_themes/breaking_barriers/img/img_external/revolution-slider/back-12.jpg"  alt=""  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<div class="tp-caption sft fadeout"
					 data-x="577"
					 data-y="73"
					 data-speed="1100"
					 data-start="1200"
					 data-easing="Power4.easeOut"
					 data-endspeed="300"
					 data-endeasing="Power1.easeIn"
					 data-captionhidden="on"
					 style="z-index: 3"><img src="/_themes/breaking_barriers/img/img_external/revolution-slider/labirint-1.png" alt="">
				</div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption sfb fadeout"
					 data-x="577"
					 data-y="238"
					 data-speed="1100"
					 data-start="1600"
					 data-easing="Power4.easeOut"
					 data-endspeed="300"
					 data-endeasing="Power1.easeIn"
					 data-captionhidden="on"
					 style="z-index: 4"><img src="/_themes/breaking_barriers/img/img_external/revolution-slider/labirint-2.png" alt="">
				</div>

				<!-- LAYER NR. 3 -->
				<div class="tp-caption lfl fadeout"
					 data-x="565"
					 data-y="203"
					 data-speed="1100"
					 data-start="2000"
					 data-easing="Power4.easeOut"
					 data-endspeed="300"
					 data-endeasing="Power1.easeIn"
					 data-captionhidden="on"
					 style="z-index: 5"><img src="/_themes/breaking_barriers/img/img_external/revolution-slider/arrow-1.png" alt="">
				</div>

				<!-- LAYER NR. 4 -->
				<div class="tp-caption sfr fadeout"
					 data-x="995"
					 data-y="200"
					 data-speed="1100"
					 data-start="2000"
					 data-easing="Power4.easeOut"
					 data-endspeed="300"
					 data-endeasing="Power1.easeIn"
					 data-captionhidden="on"
					 style="z-index: 6"><img src="/_themes/breaking_barriers/img/img_external/revolution-slider/businessman-1.png" alt="">
				</div>

				<!-- LAYER NR. 5 -->
				<div class="tp-caption sft str"
					 data-x="45" data-hoffset="0"
					 data-y="157"
					 data-speed="500"
					 data-start="2400"
					 data-easing="Back.easeInOut"
					 data-endspeed="300"
					 style="z-index: 7; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
					 Voluptas Assumenda Est
				</div>

				<!-- LAYER NR. 6 -->
				<div class="tp-caption sfl str"
					 data-x="45" data-hoffset="0"
					 data-y="236"
					 data-speed="500"
					 data-start="2600"
					 data-easing="Back.easeInOut"
					 data-endspeed="300"
					 style="z-index: 8; font-size: 20px; color: #fff; font-weight: 300; line-height: 28px; background: rgba(33, 37, 43, 0.8); padding: 12px 16px; border-radius: 3px;">
					 Quod Maxime Placeat Facere Possimus
				</div>

				<!-- LAYER NR. 7 -->
				<div class="tp-caption sfb str"
					 data-x="45" data-hoffset="0"
					 data-y="303"
					 data-speed="500"
					 data-start="2800"
					 data-easing="Back.easeInOut"
					 data-endspeed="300"
					 style="z-index: 9;">
					 <a href="contact-contact-1-fancy-header.html" class="btn pi-btn-base pi-btn-big">
						<i class="icon-mail pi-icon-left"></i>Get in touch
					</a>
				</div>
			</li>	

		</ul>

	</div>
</div>

<span class="revolution-slider"></span>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-shadow-inside pi-section-dark">
	<div class="pi-texture" style="background: url(/_themes/breaking_barriers/img/hexagon.png) repeat;"></div>
	<div class="pi-section">
		
		<!-- Row -->
		<div class="pi-row">
			
			<!-- Col 4 -->
			<div class="pi-col-sm-4">
			
				<div class="pi-icon-box pi-icon-box-hover">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-base">
						<i class="icon-check"></i>
					</div>
					
					<div class="pi-icon-box-content">
					
						<h4>Ratione Voluptatem</h4>

						<p>
							Veritatis et quasi architecto beatae vitae dicta sunt explicabo
						</p>
						
					</div>
				</div>
				
			</div>
			<!-- End col 4 -->
			
			<!-- Col 4 -->
			<div class="pi-col-sm-4">
			
				<div class="pi-icon-box pi-icon-box-hover">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-base">
						<i class="icon-thumbs-up"></i>
					</div>
					
					<div class="pi-icon-box-content">
					
						<h4>Labore et Dolore</h4>

						<p>
							Nemo enim ipsam voluptatem quia voluptas sit aspernatur fugit
						</p>
						
					</div>
				</div>
				
			</div>
			<!-- End col 4 -->
			
			<!-- Col 4 -->
			<div class="pi-col-sm-4">
			
				<div class="pi-icon-box pi-icon-box-hover">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-base">
						<i class="icon-trophy"></i>
					</div>
					
					<div class="pi-icon-box-content">
					
						<h4>Veritatis et Quasi</h4>

						<p>
							Nostrum exercitationem ullam corporis suscipit laboriosam
						</p>
						
					</div>
				</div>
				
			</div>
			<!-- End col 4 -->
			
		</div>
		<!-- End row -->

	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white piCaptions">
	<div class="pi-section pi-padding-bottom-20">
		
		<h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
			Recent projects
		</h4>
		
		<!-- Portfolio gallery -->
		<div class="pi-row pi-liquid-col-xs-2 pi-liquid-col-sm-3 pi-gallery pi-text-center pi-padding-bottom-30 pi-column-fix">
			
			<!-- Portfolio item -->
			<div class="pi-gallery-item pi-padding-bottom-20">
				<div class="pi-img-w pi-img-shadow pi-img-with-overlay pi-no-margin-bottom">
					<a href="#"><img src="/_themes/breaking_barriers/img/img_external/gallery/sensuality-at-the-sea.jpg" alt=""></a>
					<div class="pi-img-overlay pi-overlay-slide pi-show-heading">
						<h6 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-top-minus-5 pi-text-shadow">
							<a href="#" class="pi-link-white">Sensuality at the sea</a>
						</h6>
						
						<p class="pi-margin-top-minus-5 pi-margin-bottom-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>

						<ul class="pi-caption-links pi-margin-bottom-20">
							<li><i class="icon-tag"></i><a href="#">Beautiful</a>, <a href="#">Morning</a></li>
						</ul>
						
						<a href="#" class="btn pi-btn-small pi-btn-base pi-btn-no-border pi-shadow pi-uppercase pi-weight-600 pi-letter-spacing">View project</a>
					</div>
				</div>
				<div class="pi-img-shadow-gap pi-shadow-effect8"></div>
			</div>
			<!-- End portfolio item -->
			
			<!-- Portfolio item -->
			<div class="pi-gallery-item pi-padding-bottom-20">
				<div class="pi-img-w pi-img-shadow pi-img-with-overlay pi-no-margin-bottom">
					<a href="#"><img src="/_themes/breaking_barriers/img/img_external/gallery/selecting-pencil.jpg" alt=""></a>
					<div class="pi-img-overlay pi-overlay-slide pi-show-heading">
						<h6 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-top-minus-5 pi-text-shadow">
							<a href="#" class="pi-link-white">Selecting pencil</a>
						</h6>
						
						<p class="pi-margin-top-minus-5 pi-margin-bottom-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>

						<ul class="pi-caption-links pi-margin-bottom-20">
							<li><i class="icon-tag"></i><a href="#">Lifestyle</a>, <a href="#">Creation</a></li>
						</ul>
						
						<a href="#" class="btn pi-btn-small pi-btn-base pi-btn-no-border pi-shadow pi-uppercase pi-weight-600 pi-letter-spacing">View project</a>
					</div>
				</div>
				<div class="pi-img-shadow-gap pi-shadow-effect8"></div>
			</div>
			<!-- End portfolio item -->
			
			<!-- Portfolio item -->
			<div class="pi-gallery-item pi-padding-bottom-20">
				<div class="pi-img-w pi-img-shadow pi-img-with-overlay pi-no-margin-bottom">
					<a href="#"><img src="/_themes/breaking_barriers/img/img_external/gallery/mobile-business.jpg" alt=""></a>
					<div class="pi-img-overlay pi-overlay-slide pi-show-heading">
						<h6 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-top-minus-5 pi-text-shadow">
							<a href="#" class="pi-link-white">Mobile business</a>
						</h6>
						
						<p class="pi-margin-top-minus-5 pi-margin-bottom-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>

						<ul class="pi-caption-links pi-margin-bottom-20">
							<li><i class="icon-tag"></i><a href="#">Technology</a>, <a href="#">Business</a></li>
						</ul>
						
						<a href="#" class="btn pi-btn-small pi-btn-base pi-btn-no-border pi-shadow pi-uppercase pi-weight-600 pi-letter-spacing">View project</a>
					</div>
				</div>
				<div class="pi-img-shadow-gap pi-shadow-effect8"></div>
			</div>
			<!-- End portfolio item -->
			
		</div>
		<!-- End portfolio gallery -->
		
		<!-- Row -->
		<div class="pi-row">
			
			<!-- Col 4 -->
			<div class="pi-col-sm-4 pi-padding-bottom-30">
				
				<h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-25">
					<a href="#" class="pi-link-dark">About</a>
				</h4>
				
				<p>
					Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit ut aliquid commodi
				</p>
				
				<ul class="pi-list-with-icons pi-list-icons-ok">
					<li>Dolores eos qui ratione voluptatem</li>
					<li>Laboriosam, nisi ut aliquid consequatur</li>
					<li>Vel illum qui dolorem eum fugiat</li>
					<li>Consequuntur magni dolores eos qui</li>
				</ul>
				
				<p>
					<a href="#" class="btn pi-btn-base">
						Read more
					</a>
				</p>
				
			</div>
			<!-- End col 4 -->
			
			<!-- Col 4 -->
			<div class="pi-col-sm-4 pi-padding-bottom-30">
				
				<h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
					<a href="#" class="pi-link-dark">Blog</a>
				</h4>
				
				<!-- Post item -->
				<div class="pi-img-w pi-img-round-corners pi-img-left pi-img-shadow" style="width: 50px;">
					<a href="#">
					<img src="/_themes/breaking_barriers/img/img_external/gallery/digital-photo-camera-sq.jpg" alt="">
					<span class="pi-img-overlay pi-img-overlay-white">
					</span>
					</a>
				</div>
				
				<h2 class="h6 pi-margin-top-minus-5 pi-margin-bottom-5">
					<a href="#" class="pi-link-dark">Ullam Corporis Suscipit</a>
				</h2>
				<ul class="pi-meta pi-margin-bottom-10">
					<li><i class="icon-clock"></i>Apr 29, 2014</li>
					<li><i class="icon-comment"></i><a href="#">2 comments</a></li>
				</ul>
				<p>
					Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit ut aliquid commodi... <a href="#" class="pi-italic">Read more</a>
				</p>
				<!-- End post item -->
				
				<hr class="pi-divider pi-divider-dashed">
				
				<!-- Post item -->
				<div class="pi-img-w pi-img-round-corners pi-img-left pi-img-shadow" style="width: 50px;">
					<a href="#">
					<img src="/_themes/breaking_barriers/img/img_external/gallery/mobile-business-sq.jpg" alt="">
					<span class="pi-img-overlay pi-img-overlay-white">
					</span>
					</a>
				</div>
				
				<h2 class="h6 pi-margin-top-minus-5 pi-margin-bottom-5">
					<a href="#" class="pi-link-dark">Corporis Suscipit Laboriosam</a>
				</h2>
				
				<ul class="pi-meta pi-margin-bottom-10">
					<li><i class="icon-clock"></i>Apr 25, 2014</li>
					<li><i class="icon-comment"></i>0 comments</li>
				</ul>
				<p>
					Corporis suscipit laboriosam nisi ut aliquid commodi ut enim ad minima veniam exercitationem ullam... <a href="#" class="pi-italic">Read more</a>
				</p>
				<!-- End post item -->
				
			</div>
			<!-- End col 4 -->
			
			<!-- Col 4 -->
			<div class="pi-col-sm-4 pi-padding-bottom-30">
				
				<h4 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-30">
					<a href="#" class="pi-link-dark">News</a>
				</h4>
			
				<div class="pi-news-date">
					29
					<span>Apr</span>
				</div>
				<h2 class="h6 pi-margin-top-minus-5 pi-margin-bottom-5">
					<a href="#" class="pi-link-dark">Ullam Corporis Suscipit</a>
				</h2>
				<ul class="pi-meta pi-margin-bottom-10">
					<li><i class="icon-clock"></i>Apr 25, 2014</li>
					<li><i class="icon-comment"></i><a href="#">2 comments</a></li>
				</ul>
				<p>
					Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit ut aliquid commodi... <a href="#" class="pi-italic">Read more</a>
				</p>
				
				<hr class="pi-divider pi-divider-dashed">
				
				<div class="pi-news-date">
					25
					<span>Apr</span>
				</div>
				<h2 class="h6 pi-margin-top-minus-5 pi-margin-bottom-5">
					<a href="#" class="pi-link-dark">Corporis Suscipit Laboriosam</a>
				</h2>
				<ul class="pi-meta pi-margin-bottom-10">
					<li><i class="icon-user"></i>by <a href="#">PiStudio</a></li>
					<li><i class="icon-comment"></i><a href="#">3 comments</a></li>
				</ul>
				<p>
					Corporis suscipit laboriosam nisi ut aliquid commodi ut enim ad minima veniam exercitationem ullam... <a href="#" class="pi-italic">Read more</a>
				</p>
				
			</div>
			<!-- End col 4 -->
			
		</div>
		<!-- End row -->
		
	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->
<div class="pi-section-w pi-shadow-inside-top pi-section-parallax" style="background-image: url(/_themes/breaking_barriers/img/img_external/gallery/consulting.jpg);">
	<div class="pi-texture" style="background: rgba(31, 37, 44, 0.8);"></div>
	<div class="pi-section pi-padding-top-100 pi-padding-bottom-80 pi-text-center">
		
		<h3 class="pi-uppercase pi-weight-700 pi-letter-spacing">
			Want to work with us?
		</h3>
		
		<p class="pi-margin-bottom-30">
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>accusantium doloremque laudantium
		</p>
		
		<p>
			<a href="contact-contact-1-fancy-header.html" class="btn pi-btn-contur-3 pi-btn-big">
				Get in Touch
			</a>
			
			<span class="pi-or">or</span>
			
			<a href="contact-contact-1-fancy-header.html" class="btn pi-btn-base pi-btn-no-border pi-shadow pi-btn-big">
				Get a Free Quote
			</a>
		</p>

	</div>
</div>
