<div class="pi-section-w pi-section-white">
	<div class="pi-section pi-padding-bottom-70">

		<div class="pi-text-center">
			<h1 class="pi-uppercase pi-weight-700 pi-has-border pi-has-tall-border pi-has-short-border pi-margin-bottom-60">
				Icons
			</h1>
		</div>
		
		<!-- Row -->
		<div class="pi-row">
		
			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-xs-6">
				<ul class="pi-list-with-icons">
					<li><span class="pi-bullet-icon"><i class="icon-stackoverflow"></i></span>icon-stackoverflow</li>
					<li><span class="pi-bullet-icon"><i class="icon-youtube"></i></span>icon-youtube</li>
					<li><span class="pi-bullet-icon"><i class="icon-maxcdn"></i></span>icon-maxcdn</li>
					<li><span class="pi-bullet-icon"><i class="icon-bitbucket"></i></span>icon-bitbucket</li>
					<li><span class="pi-bullet-icon"><i class="icon-paper-plane"></i></span>icon-paper-plane</li>
					<li><span class="pi-bullet-icon"><i class="icon-briefcase"></i></span>icon-briefcase</li>
					<li><span class="pi-bullet-icon"><i class="icon-trello"></i></span>icon-trello</li>
					<li><span class="pi-bullet-icon"><i class="icon-yelp"></i></span>icon-yelp</li>
					<li><span class="pi-bullet-icon"><i class="icon-tape"></i></span>icon-tape</li>
					<li><span class="pi-bullet-icon"><i class="icon-droplet"></i></span>icon-droplet</li>
					<li><span class="pi-bullet-icon"><i class="icon-clipboard"></i></span>icon-clipboard</li>
					<li><span class="pi-bullet-icon"><i class="icon-bucket"></i></span>icon-bucket</li>
					<li><span class="pi-bullet-icon"><i class="icon-gauge"></i></span>icon-gauge</li>
					<li><span class="pi-bullet-icon"><i class="icon-vimeo"></i></span>icon-vimeo</li>
					<li><span class="pi-bullet-icon"><i class="icon-gplus"></i></span>icon-gplus</li>
					<li><span class="pi-bullet-icon"><i class="icon-dribbble"></i></span>icon-dribbble</li>
					<li><span class="pi-bullet-icon"><i class="icon-spotify"></i></span>icon-spotify</li>
					<li><span class="pi-bullet-icon"><i class="icon-dropbox"></i></span>icon-dropbox</li>
					<li><span class="pi-bullet-icon"><i class="icon-renren"></i></span>icon-renren</li>
					<li><span class="pi-bullet-icon"><i class="icon-soundcloud"></i></span>icon-soundcloud</li>
					<li><span class="pi-bullet-icon"><i class="icon-vkontakte"></i></span>icon-vkontakte</li>
					<li><span class="pi-bullet-icon"><i class="icon-comment"></i></span>icon-comment</li>
					<li><span class="pi-bullet-icon"><i class="icon-thumbs-up"></i></span>icon-thumbs-up</li>
					<li><span class="pi-bullet-icon"><i class="icon-upload-cloud"></i></span>icon-upload-cloud</li>
					<li><span class="pi-bullet-icon"><i class="icon-quote"></i></span>icon-quote</li>
					<li><span class="pi-bullet-icon"><i class="icon-feather"></i></span>icon-feather</li>
					<li><span class="pi-bullet-icon"><i class="icon-chat"></i></span>icon-chat</li>
					<li><span class="pi-bullet-icon"><i class="icon-vcard"></i></span>icon-vcard</li>
					<li><span class="pi-bullet-icon"><i class="icon-map"></i></span>icon-map</li>
					<li><span class="pi-bullet-icon"><i class="icon-doc-text"></i></span>icon-doc-text</li>
					<li><span class="pi-bullet-icon"><i class="icon-folder"></i></span>icon-folder</li>
					<li><span class="pi-bullet-icon"><i class="icon-cog"></i></span>icon-cog</li>
					<li><span class="pi-bullet-icon"><i class="icon-basket"></i></span>icon-basket</li>
					<li><span class="pi-bullet-icon"><i class="icon-mic"></i></span>icon-mic</li>
					<li><span class="pi-bullet-icon"><i class="icon-block"></i></span>icon-block</li>
					<li><span class="pi-bullet-icon"><i class="icon-publish"></i></span>icon-publish</li>
					<li><span class="pi-bullet-icon"><i class="icon-left-open"></i></span>icon-left-open</li>
					<li><span class="pi-bullet-icon"><i class="icon-left-open-mini"></i></span>icon-left-open-mini</li>
					<li><span class="pi-bullet-icon"><i class="icon-left-open-big"></i></span>icon-left-open-big</li>
					<li><span class="pi-bullet-icon"><i class="icon-left-dir"></i></span>icon-left-dir</li>
					<li><span class="pi-bullet-icon"><i class="icon-cw"></i></span>icon-cw</li>
					<li><span class="pi-bullet-icon"><i class="icon-shuffle"></i></span>icon-shuffle</li>
					<li><span class="pi-bullet-icon"><i class="icon-stop"></i></span>icon-stop</li>
					<li><span class="pi-bullet-icon"><i class="icon-to-start"></i></span>icon-to-start</li>
					<li><span class="pi-bullet-icon"><i class="icon-palette"></i></span>icon-palette</li>
					<li><span class="pi-bullet-icon"><i class="icon-battery"></i></span>icon-battery</li>
					<li><span class="pi-bullet-icon"><i class="icon-network"></i></span>icon-network</li>
					<li><span class="pi-bullet-icon"><i class="icon-globe"></i></span>icon-globe</li>
					<li><span class="pi-bullet-icon"><i class="icon-compass"></i></span>icon-compass</li>
					<li><span class="pi-bullet-icon"><i class="icon-heart-empty"></i></span>icon-heart-empty</li>
					<li><span class="pi-bullet-icon"><i class="icon-users"></i></span>icon-users</li>
					<li><span class="pi-bullet-icon"><i class="icon-camera"></i></span>icon-camera</li>
					<li><span class="pi-bullet-icon"><i class="icon-cancel"></i></span>icon-cancel</li>
					<li><span class="pi-bullet-icon"><i class="icon-info"></i></span>icon-info</li>
					<li><span class="pi-bullet-icon"><i class="icon-attach"></i></span>icon-attach</li>
					<li><span class="pi-bullet-icon"><i class="icon-tag"></i></span>icon-tag</li>
				</ul>
			</div>
			<!-- End col 3 -->
		
			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-xs-6">
				<ul class="pi-list-with-icons">
					<li><span class="pi-bullet-icon"><i class="icon-pagelines"></i></span>icon-pagelines</li>
					<li><span class="pi-bullet-icon"><i class="icon-bitcoin"></i></span>icon-bitcoin</li>
					<li><span class="pi-bullet-icon"><i class="icon-vimeo-squared"></i></span>icon-vimeo-squared</li>
					<li><span class="pi-bullet-icon"><i class="icon-flash"></i></span>icon-flash</li>
					<li><span class="pi-bullet-icon"><i class="icon-leaf"></i></span>icon-leaf</li>
					<li><span class="pi-bullet-icon"><i class="icon-suitcase"></i></span>icon-suitcase</li>
					<li><span class="pi-bullet-icon"><i class="icon-brush"></i></span>icon-brush</li>
					<li><span class="pi-bullet-icon"><i class="icon-chart-pie"></i></span>icon-chart-pie</li>
					<li><span class="pi-bullet-icon"><i class="icon-graduation-cap-1"></i></span>icon-graduation-cap-1</li>
					<li><span class="pi-bullet-icon"><i class="icon-air"></i></span>icon-air</li>
					<li><span class="pi-bullet-icon"><i class="icon-megaphone"></i></span>icon-megaphone</li>
					<li><span class="pi-bullet-icon"><i class="icon-thermometer"></i></span>icon-thermometer</li>
					<li><span class="pi-bullet-icon"><i class="icon-traffic-cone"></i></span>icon-traffic-cone</li>
					<li><span class="pi-bullet-icon"><i class="icon-twitter"></i></span>icon-twitter</li>
					<li><span class="pi-bullet-icon"><i class="icon-pinterest"></i></span>icon-pinterest</li>
					<li><span class="pi-bullet-icon"><i class="icon-stumbleupon"></i></span>icon-stumbleupon</li>
					<li><span class="pi-bullet-icon"><i class="icon-spotify-circled"></i></span>icon-spotify-circled</li>
					<li><span class="pi-bullet-icon"><i class="icon-evernote"></i></span>icon-evernote</li>
					<li><span class="pi-bullet-icon"><i class="icon-sina-weibo"></i></span>icon-sina-weibo</li>
					<li><span class="pi-bullet-icon"><i class="icon-mixi"></i></span>icon-mixi</li>
					<li><span class="pi-bullet-icon"><i class="icon-smashing"></i></span>icon-smashing</li>
					<li><span class="pi-bullet-icon"><i class="icon-bookmark"></i></span>icon-bookmark</li>
					<li><span class="pi-bullet-icon"><i class="icon-thumbs-down"></i></span>icon-thumbs-down</li>
					<li><span class="pi-bullet-icon"><i class="icon-reply"></i></span>icon-reply</li>
					<li><span class="pi-bullet-icon"><i class="icon-code"></i></span>icon-code</li>
					<li><span class="pi-bullet-icon"><i class="icon-print"></i></span>icon-print</li>
					<li><span class="pi-bullet-icon"><i class="icon-bell"></i></span>icon-bell</li>
					<li><span class="pi-bullet-icon"><i class="icon-address"></i></span>icon-address</li>
					<li><span class="pi-bullet-icon"><i class="icon-direction"></i></span>icon-direction</li>
					<li><span class="pi-bullet-icon"><i class="icon-newspaper"></i></span>icon-newspaper</li>
					<li><span class="pi-bullet-icon"><i class="icon-archive"></i></span>icon-archive</li>
					<li><span class="pi-bullet-icon"><i class="icon-tools"></i></span>icon-tools</li>
					<li><span class="pi-bullet-icon"><i class="icon-calendar"></i></span>icon-calendar</li>
					<li><span class="pi-bullet-icon"><i class="icon-clock"></i></span>icon-clock</li>
					<li><span class="pi-bullet-icon"><i class="icon-resize-full"></i></span>icon-resize-full</li>
					<li><span class="pi-bullet-icon"><i class="icon-window"></i></span>icon-window</li>
					<li><span class="pi-bullet-icon"><i class="icon-right-open"></i></span>icon-right-open</li>
					<li><span class="pi-bullet-icon"><i class="icon-right-open-mini"></i></span>icon-right-open-mini</li>
					<li><span class="pi-bullet-icon"><i class="icon-right-open-big"></i></span>icon-right-open-big</li>
					<li><span class="pi-bullet-icon"><i class="icon-right-dir"></i></span>icon-right-dir</li>
					<li><span class="pi-bullet-icon"><i class="icon-arrows-ccw"></i></span>icon-arrows-ccw</li>
					<li><span class="pi-bullet-icon"><i class="icon-loop"></i></span>icon-loop</li>
					<li><span class="pi-bullet-icon"><i class="icon-pause"></i></span>icon-pause</li>
					<li><span class="pi-bullet-icon"><i class="icon-fast-forward"></i></span>icon-fast-forward</li>
					<li><span class="pi-bullet-icon"><i class="icon-list"></i></span>icon-list</li>
					<li><span class="pi-bullet-icon"><i class="icon-back-in-time"></i></span>icon-back-in-time</li>
					<li><span class="pi-bullet-icon"><i class="icon-cd-1"></i></span>icon-cd-1</li>
					<li><span class="pi-bullet-icon"><i class="icon-cloud"></i></span>icon-cloud</li>
					<li><span class="pi-bullet-icon"><i class="icon-flashlight"></i></span>icon-flashlight</li>
					<li><span class="pi-bullet-icon"><i class="icon-star"></i></span>icon-star</li>
					<li><span class="pi-bullet-icon"><i class="icon-user-add"></i></span>icon-user-add</li>
					<li><span class="pi-bullet-icon"><i class="icon-layout"></i></span>icon-layout</li>
					<li><span class="pi-bullet-icon"><i class="icon-plus"></i></span>icon-plus</li>
					<li><span class="pi-bullet-icon"><i class="icon-back"></i></span>icon-back</li>
					<li><span class="pi-bullet-icon"><i class="icon-lock"></i></span>icon-lock</li>
					<li><span class="pi-bullet-icon"><i class="icon-keyboard"></i></span>icon-keyboard</li>
				</ul>
			</div>
			<!-- End col 3 -->
		
			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-xs-6">
				<ul class="pi-list-with-icons">
					<li><span class="pi-bullet-icon"><i class="icon-weibo"></i></span>icon-weibo</li>
					<li><span class="pi-bullet-icon"><i class="icon-foursquare"></i></span>icon-foursquare</li>
					<li><span class="pi-bullet-icon"><i class="icon-stackexchange"></i></span>icon-stackexchange</li>
					<li><span class="pi-bullet-icon"><i class="icon-moon"></i></span>icon-moon</li>
					<li><span class="pi-bullet-icon"><i class="icon-lifebuoy"></i></span>icon-lifebuoy</li>
					<li><span class="pi-bullet-icon"><i class="icon-dot"></i></span>icon-dot</li>
					<li><span class="pi-bullet-icon"><i class="icon-magnet"></i></span>icon-magnet</li>
					<li><span class="pi-bullet-icon"><i class="icon-chart-line"></i></span>icon-chart-line</li>
					<li><span class="pi-bullet-icon"><i class="icon-ticket"></i></span>icon-ticket</li>
					<li><span class="pi-bullet-icon"><i class="icon-credit-card"></i></span>icon-credit-card</li>
					<li><span class="pi-bullet-icon"><i class="icon-database"></i></span>icon-database</li>
					<li><span class="pi-bullet-icon"><i class="icon-key-1"></i></span>icon-key-1</li>
					<li><span class="pi-bullet-icon"><i class="icon-github"></i></span>icon-github</li>
					<li><span class="pi-bullet-icon"><i class="icon-facebook"></i></span>icon-facebook</li>
					<li><span class="pi-bullet-icon"><i class="icon-tumblr"></i></span>icon-tumblr</li>
					<li><span class="pi-bullet-icon"><i class="icon-lastfm"></i></span>icon-lastfm</li>
					<li><span class="pi-bullet-icon"><i class="icon-qq"></i></span>icon-qq</li>
					<li><span class="pi-bullet-icon"><i class="icon-flattr"></i></span>icon-flattr</li>
					<li><span class="pi-bullet-icon"><i class="icon-paypal"></i></span>icon-paypal</li>
					<li><span class="pi-bullet-icon"><i class="icon-behance"></i></span>icon-behance</li>
					<li><span class="pi-bullet-icon"><i class="icon-sweden"></i></span>icon-sweden</li>
					<li><span class="pi-bullet-icon"><i class="icon-trash"></i></span>icon-trash</li>
					<li><span class="pi-bullet-icon"><i class="icon-download"></i></span>icon-download</li>
					<li><span class="pi-bullet-icon"><i class="icon-reply-all"></i></span>icon-reply-all</li>
					<li><span class="pi-bullet-icon"><i class="icon-export"></i></span>icon-export</li>
					<li><span class="pi-bullet-icon"><i class="icon-retweet"></i></span>icon-retweet</li>
					<li><span class="pi-bullet-icon"><i class="icon-attention"></i></span>icon-attention</li>
					<li><span class="pi-bullet-icon"><i class="icon-search-1"></i></span>icon-search-1</li>
					<li><span class="pi-bullet-icon"><i class="icon-search"></i></span>icon-search</li>
					<li><span class="pi-bullet-icon"><i class="icon-book-open"></i></span>icon-book-open</li>
					<li><span class="pi-bullet-icon"><i class="icon-rss"></i></span>icon-rss</li>
					<li><span class="pi-bullet-icon"><i class="icon-share"></i></span>icon-share</li>
					<li><span class="pi-bullet-icon"><i class="icon-login"></i></span>icon-login</li>
					<li><span class="pi-bullet-icon"><i class="icon-hourglass"></i></span>icon-hourglass</li>
					<li><span class="pi-bullet-icon"><i class="icon-resize-small"></i></span>icon-resize-small</li>
					<li><span class="pi-bullet-icon"><i class="icon-arrow-combo"></i></span>icon-arrow-combo</li>
					<li><span class="pi-bullet-icon"><i class="icon-up-open"></i></span>icon-up-open</li>
					<li><span class="pi-bullet-icon"><i class="icon-up-open-mini"></i></span>icon-up-open-mini</li>
					<li><span class="pi-bullet-icon"><i class="icon-up-open-big"></i></span>icon-up-open-big</li>
					<li><span class="pi-bullet-icon"><i class="icon-up-dir"></i></span>icon-up-dir</li>
					<li><span class="pi-bullet-icon"><i class="icon-level-down"></i></span>icon-level-down</li>
					<li><span class="pi-bullet-icon"><i class="icon-switch"></i></span>icon-switch</li>
					<li><span class="pi-bullet-icon"><i class="icon-record"></i></span>icon-record</li>
					<li><span class="pi-bullet-icon"><i class="icon-fast-backward"></i></span>icon-fast-backward</li>
					<li><span class="pi-bullet-icon"><i class="icon-signal"></i></span>icon-signal</li>
					<li><span class="pi-bullet-icon"><i class="icon-monitor"></i></span>icon-monitor</li>
					<li><span class="pi-bullet-icon"><i class="icon-inbox"></i></span>icon-inbox</li>
					<li><span class="pi-bullet-icon"><i class="icon-cloud-thunder"></i></span>icon-cloud-thunder</li>
					<li><span class="pi-bullet-icon"><i class="icon-mail"></i></span>icon-mail</li>
					<li><span class="pi-bullet-icon"><i class="icon-star-empty"></i></span>icon-star-empty</li>
					<li><span class="pi-bullet-icon"><i class="icon-video"></i></span>icon-video</li>
					<li><span class="pi-bullet-icon"><i class="icon-menu"></i></span>icon-menu</li>
					<li><span class="pi-bullet-icon"><i class="icon-minus"></i></span>icon-minus</li>
					<li><span class="pi-bullet-icon"><i class="icon-home"></i></span>icon-home</li>
					<li><span class="pi-bullet-icon"><i class="icon-lock-open"></i></span>icon-lock-open</li>
				</ul>
			</div>
			<!-- End col 3 -->
		
			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-xs-6">
				<ul class="pi-list-with-icons">
					<li><span class="pi-bullet-icon"><i class="icon-youtube-play"></i></span>icon-youtube-play</li>
					<li><span class="pi-bullet-icon"><i class="icon-gittip"></i></span>icon-gittip</li>
					<li><span class="pi-bullet-icon"><i class="icon-xing"></i></span>icon-xing</li>
					<li><span class="pi-bullet-icon"><i class="icon-flight"></i></span>icon-flight</li>
					<li><span class="pi-bullet-icon"><i class="icon-mouse"></i></span>icon-mouse</li>
					<li><span class="pi-bullet-icon"><i class="icon-flow-cascade"></i></span>icon-flow-cascade</li>
					<li><span class="pi-bullet-icon"><i class="icon-infinity"></i></span>icon-infinity</li>
					<li><span class="pi-bullet-icon"><i class="icon-chart-bar"></i></span>icon-chart-bar</li>
					<li><span class="pi-bullet-icon"><i class="icon-water"></i></span>icon-water</li>
					<li><span class="pi-bullet-icon"><i class="icon-floppy"></i></span>icon-floppy</li>
					<li><span class="pi-bullet-icon"><i class="icon-drive"></i></span>icon-drive</li>
					<li><span class="pi-bullet-icon"><i class="icon-rocket"></i></span>icon-rocket</li>
					<li><span class="pi-bullet-icon"><i class="icon-flickr"></i></span>icon-flickr</li>
					<li><span class="pi-bullet-icon"><i class="icon-facebook-squared"></i></span>icon-facebook-squared</li>
					<li><span class="pi-bullet-icon"><i class="icon-linkedin"></i></span>icon-linkedin</li>
					<li><span class="pi-bullet-icon"><i class="icon-rdio"></i></span>icon-rdio</li>
					<li><span class="pi-bullet-icon"><i class="icon-instagram"></i></span>icon-instagram</li>
					<li><span class="pi-bullet-icon"><i class="icon-skype"></i></span>icon-skype</li>
					<li><span class="pi-bullet-icon"><i class="icon-picasa"></i></span>icon-picasa</li>
					<li><span class="pi-bullet-icon"><i class="icon-google-circles"></i></span>icon-google-circles</li>
					<li><span class="pi-bullet-icon"><i class="icon-logo-db"></i></span>icon-logo-db</li>
					<li><span class="pi-bullet-icon"><i class="icon-flag"></i></span>icon-flag</li>
					<li><span class="pi-bullet-icon"><i class="icon-upload"></i></span>icon-upload</li>
					<li><span class="pi-bullet-icon"><i class="icon-forward"></i></span>icon-forward</li>
					<li><span class="pi-bullet-icon"><i class="icon-pencil"></i></span>icon-pencil</li>
					<li><span class="pi-bullet-icon"><i class="icon-sound-1"></i></span>icon-sound-1</li>
					<li><span class="pi-bullet-icon"><i class="icon-volume-1"></i></span>icon-volume-1</li>
					<li><span class="pi-bullet-icon"><i class="icon-location"></i></span>icon-location</li>
					<li><span class="pi-bullet-icon"><i class="icon-docs-1"></i></span>icon-docs-1</li>
					<li><span class="pi-bullet-icon"><i class="icon-book"></i></span>icon-book</li>
					<li><span class="pi-bullet-icon"><i class="icon-phone"></i></span>icon-phone</li>
					<li><span class="pi-bullet-icon"><i class="icon-shareable"></i></span>icon-shareable</li>
					<li><span class="pi-bullet-icon"><i class="icon-logout"></i></span>icon-logout</li>
					<li><span class="pi-bullet-icon"><i class="icon-lamp"></i></span>icon-lamp</li>
					<li><span class="pi-bullet-icon"><i class="icon-popup"></i></span>icon-popup</li>
					<li><span class="pi-bullet-icon"><i class="icon-down-open"></i></span>icon-down-open</li>
					<li><span class="pi-bullet-icon"><i class="icon-down-open-mini"></i></span>icon-down-open-mini</li>
					<li><span class="pi-bullet-icon"><i class="icon-down-open-big"></i></span>icon-down-open-big</li>
					<li><span class="pi-bullet-icon"><i class="icon-down-dir"></i></span>icon-down-dir</li>
					<li><span class="pi-bullet-icon"><i class="icon-ccw"></i></span>icon-ccw</li>
					<li><span class="pi-bullet-icon"><i class="icon-level-up"></i></span>icon-level-up</li>
					<li><span class="pi-bullet-icon"><i class="icon-play"></i></span>icon-play</li>
					<li><span class="pi-bullet-icon"><i class="icon-to-end"></i></span>icon-to-end</li>
					<li><span class="pi-bullet-icon"><i class="icon-target"></i></span>icon-target</li>
					<li><span class="pi-bullet-icon"><i class="icon-trophy"></i></span>icon-trophy</li>
					<li><span class="pi-bullet-icon"><i class="icon-mobile"></i></span>icon-mobile</li>
					<li><span class="pi-bullet-icon"><i class="icon-install"></i></span>icon-install</li>
					<li><span class="pi-bullet-icon"><i class="icon-note-beamed"></i></span>icon-note-beamed</li>
					<li><span class="pi-bullet-icon"><i class="icon-heart"></i></span>icon-heart</li>
					<li><span class="pi-bullet-icon"><i class="icon-user"></i></span>icon-user</li>
					<li><span class="pi-bullet-icon"><i class="icon-picture"></i></span>icon-picture</li>
					<li><span class="pi-bullet-icon"><i class="icon-check"></i></span>icon-check</li>
					<li><span class="pi-bullet-icon"><i class="icon-help"></i></span>icon-help</li>
					<li><span class="pi-bullet-icon"><i class="icon-link"></i></span>icon-link</li>
					<li><span class="pi-bullet-icon"><i class="icon-eye"></i></span>icon-eye</li>
				</ul>
			</div>
			<!-- End col 3 -->
			
		</div>
		<!-- End row -->
		
	</div>