<!-- Title bar -->
<div class="pi-section-w pi-section-base pi-section-base-gradient">
	<div class="pi-texture" style="background: url(/_themes/breaking_barriers/img/hexagon.png) repeat;"></div>
	<div class="pi-section" style="padding: 30px 40px 26px;">
	
		<div class="pi-row">
			<div class="pi-col-sm-4 pi-center-text-xs">
				<h1 class="h2 pi-weight-300 pi-margin-bottom-5">Meet The Team</h1>
			</div>
			<div class="pi-col-sm-8 pi-text-right pi-center-text-xs">
				<p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5">Neque porro quisquam qui dolorem</p>
			</div>
		</div>
		
	</div>
</div>
<!-- End title bar -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<!-- Breadcrumbs -->
<div class="pi-section-w pi-border-bottom pi-section-grey">
	<div class="pi-section pi-titlebar pi-breadcrumb-only">
		<div class="pi-breadcrumb pi-center-text-xs">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Company</a></li>
				<li>Meet The Team</li>
			</ul>
		</div>
	</div>
</div>
<!-- End breadcrumbs -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white">
	<div class="pi-section pi-padding-bottom-20">
	
		<!-- Row -->
		<div class="pi-row">
			
			<!-- Col 10 -->
			<div class="pi-col-sm-10 pi-col-sm-offset-1 pi-padding-bottom-60">
				<p class="lead-30 pi-text-dark pi-text-center">
					Nam libero tempore, <span class="pi-text-bg-base">cum soluta</span> nobis est optio cumque nihil impedit quo minus id quod maxime
				</p>
			</div>
			<!-- End col 10 -->
			
		</div>
		<!-- End row -->
		
		<div class="pi-row">
			
			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="/_themes/breaking_barriers/img/img_external/team/leader-11.jpg" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Mike Ross</h3>	
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Co-Founder, Art Director
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>
			
			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="/_themes/breaking_barriers/img/img_external/team/leader-22.jpg" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Mattias Nuffer</h3>	
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Co-Founder, Web Developer
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>
			
			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="/_themes/breaking_barriers/img/img_external/team/leader-33.jpg" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Kindra Hall</h3>	
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Web & Graphic Designer
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>
			
			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="/_themes/breaking_barriers/img/img_external/team/leader-44.jpg" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Nora Anderson</h3>	
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Project Manager
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>
			
			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="/_themes/breaking_barriers/img/img_external/team/leader-55.jpg" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Jim Terrell</h3>	
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Client Manager
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>
			
			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="/_themes/breaking_barriers/img/img_external/team/leader-66.jpg" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Brian Kochar</h3>	
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Web Developer
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>
			
			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="/_themes/breaking_barriers/img/img_external/team/leader-77.jpg" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Anna Kochar</h3>	
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Client Manager
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>
			
			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px; background: #f4f6f6">
						<a href="#">
							<img src="/_themes/breaking_barriers/img/img_external/team/leader-88.png" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-10">We Need You!</h3>
					<p class="pi-margin-bottom-20">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<p>
						<a href="#" class="btn pi-btn-green">
							Vacancies
						</a>
					</p>
				<!-- End team member -->
			</div>
			
		</div>
		
	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<div class="pi-section-w pi-shadow-inside-top pi-section-grey">
	<div class="pi-texture" style="background: url(_themes/breaking_barriers/img/hexagon.png) repeat;"></div>
	<div class="pi-section pi-padding-top-60 pi-padding-bottom-40 pi-text-center">
		
		<p class="lead-30 pi-text-dark">
			Have a project with us? <span class="pi-weight-400">Feel free</span>
			
			<a href="#" class="btn pi-btn-base pi-btn-big" style="margin-left: 25px;">
				<i class="icon-mail pi-icon-left"></i> Get in Touch
			</a>
			
		</p>

	</div>
</div>