<!-- Title bar -->
<div class="pi-section-w pi-section-base pi-section-base-gradient">
	<div class="pi-texture" style="background: url(/_themes/breaking_barriers/img/hexagon.png) repeat;"></div>
	<div class="pi-section" style="padding: 30px 40px 26px;">
	
		<div class="pi-row">
			<div class="pi-col-sm-4 pi-center-text-xs">
				<h1 class="h2 pi-weight-300 pi-margin-bottom-5">{{title}}</h1>
			</div>
			<div class="pi-col-sm-8 pi-text-right pi-center-text-xs">
				<p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5">{{subTitle}}</p>
			</div>
		</div>
		
	</div>
</div>
<!-- End title bar -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->
{{ theme:partial src="site/_breadcrumbs" }}

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white">
	<div class="pi-section pi-padding-bottom-20">
	
		<!-- Row -->
		<div class="pi-row">
			
			<!-- Col 10 -->
			<div class="pi-col-sm-10 pi-col-sm-offset-1 pi-padding-bottom-60">
				<p class="lead-30 pi-text-dark pi-text-center">
					{{tagline}}
				</p>
			</div>
			<!-- End col 10 -->
			
		</div>
		<!-- End row -->
		
		<div class="pi-row">
			{{ entries:listing from="about/meet-the-team" }}
			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="{{url}}">
							<img src="{{image}}" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">{{title}}</h3>	
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						{{job_title}}
					</p>
					<p class="pi-margin-bottom-10">
						{{role}}
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
					{{social}}
						<li><a href="mailto:{{li}}" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="{{email}}" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="{{number}}" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					{{/social}}
					</ul>
				<!-- End team member -->
			</div>
			{{ /entries:listing }}
			
		</div>
		
	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<div class="pi-section-w pi-shadow-inside-top pi-section-grey">
	<div class="pi-texture" style="background: url(_themes/breaking_barriers/img/hexagon.png) repeat;"></div>
	<div class="pi-section pi-padding-top-60 pi-padding-bottom-40 pi-text-center">
		
		<p class="lead-30 pi-text-dark">
			Have a project with us? <span class="pi-weight-400">Feel free</span>
			
			<a href="#" class="btn pi-btn-base pi-btn-big" style="margin-left: 25px;">
				<i class="icon-mail pi-icon-left"></i> Get in Touch
			</a>
			
		</p>

	</div>
</div>