<!-- Title bar -->
<div class="pi-section-w pi-section-base pi-section-base-gradient">
	<div class="pi-texture" style="background: url(/_themes/breaking_barriers/img/hexagon.png) repeat;"></div>
	<div class="pi-section" style="padding: 30px 40px 26px;">
	
		<div class="pi-row">
			<div class="pi-col-sm-4 pi-center-text-xs">
				<h1 class="h2 pi-weight-300 pi-margin-bottom-5">Testimonials</h1>
			</div>
			<div class="pi-col-sm-8 pi-text-right pi-center-text-xs">
				<p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5">Neque porro quisquam qui dolorem</p>
			</div>
		</div>
		
	</div>
</div>
<!-- End title bar -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<!-- Breadcrumbs -->
<div class="pi-section-w pi-border-bottom pi-section-grey">
	<div class="pi-section pi-titlebar pi-breadcrumb-only">
		<div class="pi-breadcrumb pi-center-text-xs">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Company</a></li>
				<li>Testimonials</li>
			</ul>
		</div>
	</div>
</div>
<!-- End breadcrumbs -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white">
	<div class="pi-section">
		
		<h2 class="h4 pi-weight-700 pi-has-bg pi-margin-bottom-30 pi-uppercase pi-letter-spacing">
			What People Say
		</h2>
		
		<!-- Testimonials -->
		<div class="pi-row">
			<div class="pi-col-sm-6 pi-padding-bottom-30">
			
				<!-- Testimonial -->
				<div class="pi-testimonial pi-testimonial-author-with-photo">
					<div class="pi-testimonial-content pi-testimonial-content-quotes">
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
					</div>
					<div class="pi-testimonial-author pi-clearfix">
						<span class="pi-testimonial-author-photo pi-img-round"><img src="/_themes/breaking_barriers/img/img_external/testimonials/client-photo-1.jpg" alt=""></span>
						
						<div>
							<span class="pi-testimonial-author-name"><strong>Mattias Nuffer</strong></span> <br>
							<span class="pi-testimonial-author-company">Executive Director <a href="#">Company Inc.</a></span>
						</div>
					</div>
				</div>
				<!-- End testimonial -->
				
			</div>
			
			<div class="pi-col-sm-6 pi-padding-bottom-30">
				
				<!-- Testimonial -->
				<div class="pi-testimonial pi-testimonial-author-with-photo">
					<div class="pi-testimonial-content pi-testimonial-content-quotes">
						<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.</p>
					</div>
					<div class="pi-testimonial-author pi-clearfix">
						<span class="pi-testimonial-author-photo pi-img-round"><img src="/_themes/breaking_barriers/img/img_external/testimonials/client-photo-2.jpg" alt=""></span>
						
						<div>
							<span class="pi-testimonial-author-name"><strong>Jim Terrell</strong></span> <br>
							<span class="pi-testimonial-author-company">Project Director <a href="#">Company Inc.</a></span>
						</div>
					</div>
				</div>
				<!-- End testimonial -->
				
			</div>
		</div>
		<!-- End testimonials -->
		
		<!-- Testimonials -->
		<div class="pi-row">
			<div class="pi-col-sm-4 pi-padding-bottom-30">
			
				<!-- Testimonial -->
				<div class="pi-testimonial pi-testimonial-author-with-photo">
					<div class="pi-testimonial-content pi-testimonial-content-quotes">
						<p>Quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci!</p>
					</div>
					<div class="pi-testimonial-author pi-clearfix">
						<span class="pi-testimonial-author-photo pi-img-round"><img src="/_themes/breaking_barriers/img/img_external/testimonials/client-photo-5.jpg" alt=""></span>
						
						<div>
							<span class="pi-testimonial-author-name"><strong>Carolin Daye</strong></span> <br>
							<span class="pi-testimonial-author-company">Brand Manager <a href="#">Company Inc.</a></span>
						</div>
					</div>
				</div>
				<!-- End testimonial -->
				
			</div>
			
			<div class="pi-col-sm-4 pi-padding-bottom-30">
				
				<!-- Testimonial -->
				<div class="pi-testimonial pi-testimonial-author-with-photo">
					<div class="pi-testimonial-content pi-testimonial-content-quotes">
						<p>Porro quisquam est qui dolorem ipsum dolor consectetur adipisci velit</p>
					</div>
					<div class="pi-testimonial-author pi-clearfix">
						<span class="pi-testimonial-author-photo pi-img-round"><img src="/_themes/breaking_barriers/img/img_external/testimonials/client-photo-4.jpg" alt=""></span>
						
						<div>
							<span class="pi-testimonial-author-name"><strong>Joseph Lenski</strong></span> <br>
							<span class="pi-testimonial-author-company">Managing Director <a href="#">Company Inc.</a></span>
						</div>
					</div>
				</div>
				<!-- End testimonial -->
				
			</div>
			
			<div class="pi-col-sm-4 pi-padding-bottom-30">
				
				<!-- Testimonial -->
				<div class="pi-testimonial pi-testimonial-author-with-photo">
					<div class="pi-testimonial-content pi-testimonial-content-quotes">
						<p>Dolorem ipsum quia dolor sit amet consectetur porro quisquam</p>
					</div>
					<div class="pi-testimonial-author pi-clearfix">
						<span class="pi-testimonial-author-photo pi-img-round"><img src="/_themes/breaking_barriers/img/img_external/testimonials/client-photo-3.jpg" alt=""></span>
						
						<div>
							<span class="pi-testimonial-author-name"><strong>Kindra Hall</strong></span> <br> 
							<span class="pi-testimonial-author-company">Associate Director <a href="#">Company Inc.</a></span>
						</div>
					</div>
				</div>
				<!-- End testimonial -->
				
			</div>
		</div>
		<!-- End testimonials -->
		
	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->



<div class="pi-section-w pi-shadow-inside-top pi-border-bottom pi-section-dark">
	<div class="pi-texture" style="background: url(/_themes/breaking_barriers/img/hexagon.png) repeat;"></div>
	<div class="pi-section pi-padding-top-60 pi-padding-bottom-40 pi-text-center">
		
		<p class="lead-30">
			Have a project with us? <span class="pi-weight-400 pi-text-white">Feel free</span>
			
			<a href="#" class="btn pi-btn-base pi-btn-no-border pi-shadow pi-btn-big" style="margin-left: 25px;">
				<i class="icon-mail pi-icon-left"></i> Get in Touch
			</a>
			
		</p>

	</div>
</div>