<!-- Title bar -->
<div class="pi-section-w pi-section-base pi-section-base-gradient">
	<div class="pi-texture" style="background: url(/_themes/breaking_barriers/img/hexagon.png) repeat;"></div>
	<div class="pi-section" style="padding: 30px 40px 26px;">
	
		<div class="pi-row">
			<div class="pi-col-sm-4 pi-center-text-xs">
				<h1 class="h2 pi-weight-300 pi-margin-bottom-5">{{title}}</h1>
			</div>
			<div class="pi-col-sm-8 pi-text-right pi-center-text-xs">
				<p class="lead-20 pi-weight-300 pi-margin-top-5 pi-margin-bottom-5">{{tagline}}</p>
			</div>
		</div>
		
	</div>
</div>
<!-- End title bar -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

{{ theme:partial src="site/_breadcrumbs" }}
<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white">
	<div class="pi-section">
		
		<h2 class="h4 pi-weight-700 pi-has-bg pi-margin-bottom-30 pi-uppercase pi-letter-spacing">
			{{subTitle}}
		</h2>
		{{ testimonials }}	
		{{ if type == "testimonial-row-of-2" }}
		<!-- Testimonials -->
		<div class="pi-row">
			{{testimonialsGrid}}
			<div class="pi-col-sm-6 pi-padding-bottom-30">
			
				<!-- Testimonial -->
				<div class="pi-testimonial pi-testimonial-author-with-photo">
					<div class="pi-testimonial-content pi-testimonial-content-quotes">
						{{body}}
					</div>
					<div class="pi-testimonial-author pi-clearfix">
						<span class="pi-testimonial-author-photo pi-img-round"><img src="{{image}}" alt=""></span>
						
						<div>
							<span class="pi-testimonial-author-name"><strong>{{name}}</strong></span> <br>
							<span class="pi-testimonial-author-company">{{job_title}} <a href="#">{{company}}</a></span>
						</div>
					</div>
				</div>
				<!-- End testimonial -->
			</div>
			{{/testimonialsGrid}}	
		</div>
		<!-- End testimonials -->
		{{ endif }}
		{{ if type == "testimonial-row-of-3" }}
		<!-- Testimonials -->
		<div class="pi-row">
			{{testimonialsGrid}}
			<div class="pi-col-sm-4 pi-padding-bottom-30">
			
				<!-- Testimonial -->
				<div class="pi-testimonial pi-testimonial-author-with-photo">
					<div class="pi-testimonial-content pi-testimonial-content-quotes">
						{{body}}
					</div>
					<div class="pi-testimonial-author pi-clearfix">
						<span class="pi-testimonial-author-photo pi-img-round"><img src="{{image}}" alt=""></span>
						
						<div>
							<span class="pi-testimonial-author-name"><strong>{{name}}</strong></span> <br>
							<span class="pi-testimonial-author-company">{{job_title}} <a href="#">{{company}}</a></span>
						</div>
					</div>
				</div>
				<!-- End testimonial -->
			</div>
			{{/testimonialsGrid}}	
		</div>
		<!-- End testimonials -->
		{{ endif }}
		{{ /testimonials }}
		
	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->



<div class="pi-section-w pi-shadow-inside-top pi-border-bottom pi-section-dark">
	<div class="pi-texture" style="background: url(/_themes/breaking_barriers/img/hexagon.png) repeat;"></div>
	<div class="pi-section pi-padding-top-60 pi-padding-bottom-40 pi-text-center">
		
		<p class="lead-30">
			Have a project with us? <span class="pi-weight-400 pi-text-white">Feel free</span>
			
			<a href="#" class="btn pi-btn-base pi-btn-no-border pi-shadow pi-btn-big" style="margin-left: 25px;">
				<i class="icon-mail pi-icon-left"></i> Get in Touch
			</a>
			
		</p>

	</div>
</div>