<!-- Header -->
<div class="pi-header">

	<!-- Header row -->
	<div class="pi-section-w pi-section-base">
		<div class="pi-section pi-row-lg">

		<!-- Logo -->
		<div class="pi-row-block pi-row-block-logo pi-center-text-xs-only" style="margin-right: 20px;">
			<a href="/index.html"><img src="img/logo-white.png" alt=""></a>
		</div>
		<!-- End logo -->
		
		<!-- Phone -->
		<div class="pi-row-block pi-row-block-txt pi-hidden-2xs">
			<i class="pi-row-block-icon icon-phone pi-icon-circle pi-icon-white"></i><strong>+7.906.229.2627</strong>
		</div>
		<!-- End phone -->

		<!-- Email -->
		<div class="pi-row-block pi-row-block-txt pi-hidden-xs"><i
				class="pi-row-block-icon icon-mail pi-icon-circle pi-icon-white"></i><a href="#">hello@pitheme.com</a>
		</div>
		<!-- End email -->
		
		<!-- Search -->
		<div class="pi-row-block pi-pull-right pi-hidden-sm">
			<form class="form-inline pi-search-form-wide" role="form">
				<div class="pi-input-with-icon pi-input-inline" style="margin-right: 1px;">
					<div class="pi-input-icon"><i class="icon-search-1"></i></div>
					<input type="text" class="form-control pi-input-wide" placeholder="Type here..">
				</div>
				<button type="submit" class="btn pi-btn pi-btn-base-2">Search</button>
			</form>
		</div>
		<!-- End search -->

		</div>
	</div>
	<!-- End header row -->

	<div class="pi-header-sticky">
	<!-- Header row -->
		<div class="pi-section-w pi-section-white pi-shadow-bottom pi-row-reducible">
			<div class="pi-section pi-row-lg">

				<!-- Logo -->
				<div class="pi-row-block pi-row-block-logo">
					<a href="index.html"><img src="/_themes/breaking_barriers/img/logo-base.png" alt=""></a>
				</div>
				<!-- End logo -->

				<!-- Text -->
				<div class="pi-row-block pi-row-block-txt pi-hidden-2xs">HTML5 template</div>
				<!-- End text -->
				{{ theme:partial src="nav/_main_nav" }}
			</div>
		</div>
	<!-- End header row -->
	</div>
</div>
<!-- End header -->

{{#
====================================
  NOTES
====================================

This is the main header partial.

For more information on partials see http://statamic.com/learn/theming/partials.

#}}
