<div class="pi-section-w pi-section-dark">
    <div class="pi-section pi-row-sm">
      
      <!-- Menu -->
      <div class="pi-row-block">
        <ul class="pi-menu pi-has-hover-border pi-items-have-borders pi-full-height pi-hidden-xs">
             {{ nav from="/" max_depth="2" exclude="site-map|feed|sitemap"}}
                <li class="{{ if is_parent }}pi-has-dropdown{{ endif }}{{ if is_current }}active{{ endif }}">
                   <a href="{{ url }}" ><span>{{ title|smartypants|widont }}</span></a>
                   {{ if children || is_parent }}
                    <ul class="pi-submenu pi-has-border pi-items-have-borders pi-has-shadow pi-submenu-dark">
                    {{ children }}
                      <li><a href="{{url}}">{{ title|smartypants|widont }}</a></li>
                    {{ /children }}
                    </ul>
                  {{ endif }}
                </li>
             {{ /nav }}
          </ul>
      </div>
      <!-- End menu -->
      
      <!-- Social icons -->
      <div class="pi-row-block pi-pull-right pi-hidden-sm">
        <ul class="pi-social-icons pi-stacked pi-jump pi-full-height pi-bordered pi-small">
          <li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
          <li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
          <li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
        </ul>
      </div>
      <!-- End social icons -->

      <!-- Text -->
      <div class="pi-row-block pi-row-block-txt pi-pull-right pi-hidden-sm">Follow Us:</div>
      <!-- End text -->
      
      <!-- Mobile menu button -->
      <div class="pi-row-block pi-pull-right pi-hidden-lg-only pi-hidden-md-only pi-hidden-sm-only">
        <button class="btn pi-btn pi-btn-dark pi-btn-no-border pi-mobile-menu-toggler" data-target="#pi-mobile-menu-7">
          <i class="icon-menu pi-text-center"></i>
        </button>
      </div>
      <!-- End mobile menu button -->
      
      <!-- Mobile menu -->
      <div id="pi-mobile-menu-7" class="pi-section-menu-mobile-w pi-section-dark">
        <div class="pi-section-menu-mobile">

          <!-- Search form -->
          <form class="form-inline pi-search-form-wide" role="form">
            <div class="pi-input-with-icon">
              <div class="pi-input-icon"><i class="icon-search-1"></i></div>
              <input type="text" class="form-control pi-input-wide" placeholder="Search..">
            </div>
          </form>
          <!-- End search form -->

          <ul class="pi-menu-mobile pi-menu-mobile-dark">
            <li class="active"><a href="index.html">Home</a></li>
            <li>
              <a href="portfolio-3-columns.html">Templates</a>
              <ul>
                <li>
                  <a href="index.html">Homepage</a>
                </li>
                <li>
                  <a href="index.html">Portfolio</a>
                </li>
                <li>
                  <a href="index.html">Blog</a>
                </li>
              </ul>
            <li>
              <a href="index.html">Elements</a>
            </li>
            <li>
              <a href="#/header/header-logos">Header</a>
            </li>
            <li>
              <a href="#/header/header-logos">Footer</a>
            </li>
            <li>
              <a href="#/utility/utility-grid">Utility</a>
            </li>
          </ul>

        </div>
      </div>

    <!-- End mobile menu -->

    </div>
  </div>