{{ theme:partial src="site/_doc_head" }}
<body class="site {{ if segment_1 == "" }}home{{ else }}{{ segment_1 }}{{ endif }}">
<div id="pi-all">
  {{ theme:partial src="site/_header" }}

  

  <div id="page"><!-- - - - - - - - - - SECTION - - - - - - - - - -->
    {{ layout_content }}
  </div><!-- END Section -->

  {{ theme:partial src="site/_footer" }}

</div>
<script src="{{ theme:js }}"></script>
{{ if segment_1 == "home" || !segment_1 }}
<script src="{{ theme:js src="home"}}"></script>
{{ endif }}
{{ if segment_1 == "about"}}
<script src="{{ theme:js src="about"}}"></script>
{{ endif }}
{{ if segment_1 == "services"}}
<script src="{{ theme:js src="services"}}"></script>
{{ endif }}
{{ if segment_1 == "contact_us"}}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="{{ theme:js src="contact"}}"></script>
{{ endif }}
{{ if segment_1 == "blog"}}
<script src="{{ theme:js src="blog"}}"></script>
{{ endif }}
</body>
</html>

{{#
====================================
  NOTES
====================================

This is the default layouts template used by all pages. If no other layout file is called then Statamic will use this file.

For more information on how Statamic works and the three distinct pieces: content file, template and layout see http://statamic.com/learn/core-concepts/how-pages-are-built.

The RSS link is used in the header. If you are creating an RSS feed make sure to change the title attribute. If you are not creating an RSS feed then you can delete this. For more information on the RSS Feed set up see the feed.html template.

#}}
